# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.pytest_cache/
.dmypy.json
dmypy.json
.env
# Docker
.docker/
.dockerignore
docker-compose.override.yml
postgres_data/
# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


*.pem
*.crt
*.key
.aws/
config/

# Build
build/
dist/
*.egg-info/


lambda/*